/*Nombre del color*/
.nombredelcolor{
    color: red;
    color: orange;
    color: yellow;
    color: green;
    color: blue;
    color: blueviolet;
    color: fuchsia;
    color: black;
    color: white;
    color: brown;
}
/*colores rgb*/
.coloresRGB{
    color: rgb(red, green, blue);
    color: rgb(255,0,0);
    color: rgb(0, 225, 200);
    color: rgb(0, 255, 0);
    color: rgb(0,0,255);
    color: rgb(200, 200, 200);
    color: rgb(120, 120,120);
    color: rgb(30,30,30);
    color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.coloreshexadecimales{
    color: #123456;
    color: #DF2C5A;
    color: #ff0000;
    color:
}